@font-face {
    font-family: 'Formular';
    src: url('https://miro.com/app/static/static/fonts/general/FormularRegular/formular-regular.4b9930.woff2');
  }
  
  body,
  button,
  input,
  textarea,
  select {
    font: 14px OpenSans, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 14px;
    line-height: normal;
    font-family: OpenSans, Arial, Helvetica, sans-serif;
  }
  
  .sidebar__content {
    display: flex;
    flex-grow: 1;
    position: relative;
    justify-content: flex-end;
    min-width: 0;
    min-height: 0;
    height: 100%;
    padding: 10px 15px;
  }
  
  .stat-list {
    width: 340px;
  }
  
  .stat-list .stat-list__header {
    font-size: 14px;
    font-weight: bold;
    height: 44px;
    padding: 8px 0 0 12px;
    font-family: Formular, sans-serif;
    font-size: 24px;
    font-weight: 500;
  }
  
  .stat-list .stat-list__empty {
    color: #050038;
    font-size: 12px;
    margin: 20px 0 20px 0;
    padding: 0 24px 0 24px;
    text-align: center;
  }
  
  .stat-list .stat-list__table {
    margin-bottom: 40px;
  }
  
  .stat-list .stat-list__title {
    display: flex;
    padding: 0 20px 0 24px;
  }
  
  .stat-list .stat-list__title span {
    color: #050038;
    font-weight: bold;
    padding: 0 4px;
    font-size: 14px;
  }
  
  .stat-list .stat-list__title::after,
  .stat-list .stat-list__title::before {
    content: '';
    display: block;
    background-color: #e1e0e7;
    height: 1px;
    flex-grow: 1;
    margin-top: 9px;
  }
  
  .stat-list .stat-list__item {
    font-family: Formular, sans-serif;
    font-size: 18px;
    line-height: 20px;
    margin: 10px 0 10px 0;
    font-weight: normal;
    padding: 0 24px 0 24px;
  }
  
  .stat-list .stat-list__item .stat-list__item-name {
    text-transform: capitalize;
    margin-left: 4px;
  }
  
  .stat-list .stat-list__item .stat-list__item-value {
    float: right;
  }

  .stat-list .tabs {
    margin-bottom: 10px
  }

  .stat-list .metismenu {
    list-style: none;
    padding: 0;
  }
  .stat-list .metismenu ul {
    list-style: none;
    padding-left: 22px;
    background-color: rgba(216,216,216,0.3);
  }
  .stat-list .metismenu .action {
    position: absolute;
    right: 40px;
    top: 0;
    display: flex;
  }
  .stat-list .metismenu .action a {
    margin-right: 9px;
  }
  .stat-list .metismenu li {
    position: relative;
  }
  .stat-list .metismenu li > a {
    box-sizing: border-box;
    width: 100%;
    display: block;
    padding: 10px;
    color: black !important;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
  }
  .stat-list .metismenu a .item-badge {
    font-weight: normal;
  }
  .stat-list .tab-panel {
    display: none;
  }
  .stat-list .tab-panel.active {
    display: inherit;
  }